.body {
    margin:300;
    padding:0;
}

h1 {
    margin: 50px;
    text-align: center;
}

.container{
    display:grid;
    grid-template-columns: 2fr 2fr;
    height: 500px; 
    grid-gap:30px;
    padding: 20px
}