<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ricerca immobile per codice fiscale o coordinate</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

</head>
<body>
    <h1>Search property</h1>
    <div class="container">
        <div class ="search">
            <form method="POST">
                <label for="cod_fisc">Enter the tax code :</label>
                <input type="text" name="cod_fisc" id="cod_fisc" placeholder="Tax code">
    
                <h2>Or find by</h2>
    
                <label for="latitud">Enter the latitud:</label>
                <input type="text" name="latitud" id="latitud" placeholder="Latitud">
    
                <label for="longitud">Enter longitud:</label>
                <input type="text" name="longitud" id="longitud" placeholder="Longitud">
    
                <input type="submit" value="Buscar">
            </form>
            <h2>Results</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Clase</th>
                        <th>Name of Property</th>
                        <th>Owner's Name</th>
                        <th>Owner's Lastname</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% if resultados %}
                        {% for result in resultados %}
                            <tr>
                                <td>{{ result['clase'] }}</td>
                                <td>{{ result['name'] }}</td>
                                <td>{{ result['nome'] }}</td>
                                <td>{{ result['cognome'] }}</td>
                                <td>{{ result['type'] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No results found</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div id="map">

        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </div>
</body>
</html>
